/* v1.9.7 */
*, ::before, ::after, ::backdrop {
	--accordion-stroke: var(--dimension-border-none);
	--alert-caution-stroke: var(--dimension-border-default);
	--alert-discovery-stroke: var(--dimension-border-default);
	--alert-info-stroke: var(--dimension-border-default);
	--alert-negative-stroke: var(--dimension-border-default);
	--alert-neutral-stroke: var(--dimension-border-default);
	--alert-positive-stroke: var(--dimension-border-default);
	--authenticator-height: var(--dimension-space-64);
	--authenticator-radius: var(--scale-xl-border-radius);
	--authenticator-stroke: var(--dimension-border-default);
	--authenticator-width: var(--dimension-space-64);
	--avatar-radius-2xl: var(--dimension-rounded-full);
	--avatar-radius-lg: var(--dimension-rounded-full);
	--avatar-radius-md: var(--dimension-rounded-full);
	--avatar-radius-sm: var(--dimension-rounded-full);
	--avatar-radius-xl: var(--dimension-rounded-full);
	--avatar-radius-xs: var(--dimension-rounded-full);
	--avatar-stroke: var(--dimension-border-default);
	--badge-caution-size-badge: var(--dimension-space-8);
	--badge-caution-size-numeric: var(--dimension-space-16);
	--badge-caution-stroke: var(--dimension-border-none);
	--badge-discovery-size-badge: var(--dimension-space-8);
	--badge-discovery-size-numeric: var(--dimension-space-16);
	--badge-discovery-stroke: var(--dimension-border-none);
	--badge-info-size-badge: var(--dimension-space-8);
	--badge-info-size-numeric: var(--dimension-space-16);
	--badge-info-stroke: var(--dimension-border-none);
	--badge-negative-size-badge: var(--dimension-space-8);
	--badge-negative-size-numeric: var(--dimension-space-16);
	--badge-negative-stroke: var(--dimension-border-none);
	--badge-neutral-size-badge: var(--dimension-space-8);
	--badge-neutral-size-numeric: var(--dimension-space-16);
	--badge-neutral-stroke: var(--dimension-border-none);
	--badge-positive-size-badge: var(--dimension-space-8);
	--badge-positive-size-numeric: var(--dimension-space-16);
	--badge-positive-stroke: var(--dimension-border-none);
	--bottom-sheet-radius: var(--scale-2xl-border-radius);
	--button-radius-lg: var(--scale-lg-border-radius);
	--button-radius-md: var(--scale-md-border-radius);
	--button-radius-sm: var(--scale-sm-border-radius);
	--button-radius-xl: var(--scale-xl-border-radius);
	--button-radius-xs: var(--scale-xs-border-radius);
	--checkbox-size-container: var(--dimension-space-20);
	--checkbox-size-icon: var(--dimension-space-20);
	--checkbox-size-radius: var(--dimension-rounded-2);
	--checkbox-stroke-indeterminate: var(--dimension-border-none);
	--checkbox-stroke-selected: var(--dimension-border-none);
	--checkbox-stroke-unselected: var(--dimension-border-interactive);
	--chip-radius-md: var(--scale-md-border-radius);
	--chip-radius-sm: var(--scale-sm-border-radius);
	--chip-variant-outline-stroke-selected: var(--dimension-border-interactive);
	--chip-variant-outline-stroke-unselected: var(--dimension-border-default);
	--dialog-radius: var(--scale-2xl-border-radius);
	--dimension-border-0: 0;
	--dimension-border-1: 1px;
	--dimension-border-2: 2px;
	--dimension-border-4: 4px;
	--dimension-border-default: var(--dimension-border-1);
	--dimension-border-interactive: var(--dimension-border-2);
	--dimension-border-none: var(--dimension-border-0);
	--dimension-rounded-0: 0;
	--dimension-rounded-12: 12px;
	--dimension-rounded-16: 16px;
	--dimension-rounded-2: 2px;
	--dimension-rounded-20: 20px;
	--dimension-rounded-24: 24px;
	--dimension-rounded-32: 32px;
	--dimension-rounded-4: 4px;
	--dimension-rounded-6: 6px;
	--dimension-rounded-8: 8px;
	--dimension-rounded-full: 9999px;
	--dimension-space-0: 0;
	--dimension-space-1: 1px;
	--dimension-space-10: 10px;
	--dimension-space-104: 104px;
	--dimension-space-112: 112px;
	--dimension-space-12: 12px;
	--dimension-space-120: 120px;
	--dimension-space-128: 128px;
	--dimension-space-136: 136px;
	--dimension-space-14: 14px;
	--dimension-space-144: 144px;
	--dimension-space-152: 152px;
	--dimension-space-16: 16px;
	--dimension-space-160: 160px;
	--dimension-space-18: 18px;
	--dimension-space-2: 2px;
	--dimension-space-20: 20px;
	--dimension-space-24: 24px;
	--dimension-space-28: 28px;
	--dimension-space-32: 32px;
	--dimension-space-36: 36px;
	--dimension-space-4: 4px;
	--dimension-space-40: 40px;
	--dimension-space-48: 48px;
	--dimension-space-56: 56px;
	--dimension-space-6: 6px;
	--dimension-space-64: 64px;
	--dimension-space-72: 72px;
	--dimension-space-8: 8px;
	--dimension-space-80: 80px;
	--dimension-space-88: 88px;
	--dimension-space-96: 96px;
	--dimension-space-neg12: -12px;
	--dimension-space-neg2: -2px;
	--dimension-space-neg4: -4px;
	--drawer-radius: var(--scale-2xl-border-radius);
	--dropdown-padding: var(--dimension-space-4);
	--dropdown-radius: var(--scale-xl-border-radius);
	--dropdown-stroke: var(--dimension-border-default);
	--effect-opacity-0: 0;
	--effect-opacity-100: 1;
	--effect-opacity-20: 0.2;
	--effect-opacity-40: 0.4;
	--effect-opacity-60: 0.6;
	--effect-opacity-80: 0.8;
	--effect-opacity-disabled: var(--effect-opacity-60);
	--effect-opacity-transparent: var(--effect-opacity-0);
	--effect-shadow-100-layer-1-blur: var(--dimension-space-2);
	--effect-shadow-100-layer-1-spread: var(--dimension-space-0);
	--effect-shadow-100-layer-1-x: var(--dimension-space-0);
	--effect-shadow-100-layer-1-y: var(--dimension-space-1);
	--effect-shadow-100-layer-2-blur: var(--dimension-space-0);
	--effect-shadow-100-layer-2-spread: var(--dimension-space-0);
	--effect-shadow-100-layer-2-x: var(--dimension-space-0);
	--effect-shadow-100-layer-2-y: var(--dimension-space-0);
	--effect-shadow-200-layer-1-blur: var(--dimension-space-8);
	--effect-shadow-200-layer-1-spread: var(--dimension-space-neg4);
	--effect-shadow-200-layer-1-x: var(--dimension-space-0);
	--effect-shadow-200-layer-1-y: var(--dimension-space-4);
	--effect-shadow-200-layer-2-blur: var(--dimension-space-4);
	--effect-shadow-200-layer-2-spread: var(--dimension-space-neg2);
	--effect-shadow-200-layer-2-x: var(--dimension-space-0);
	--effect-shadow-200-layer-2-y: var(--dimension-space-2);
	--effect-shadow-300-layer-1-blur: var(--dimension-space-16);
	--effect-shadow-300-layer-1-spread: var(--dimension-space-neg4);
	--effect-shadow-300-layer-1-x: var(--dimension-space-0);
	--effect-shadow-300-layer-1-y: var(--dimension-space-12);
	--effect-shadow-300-layer-2-blur: var(--dimension-space-8);
	--effect-shadow-300-layer-2-spread: var(--dimension-space-neg2);
	--effect-shadow-300-layer-2-x: var(--dimension-space-0);
	--effect-shadow-300-layer-2-y: var(--dimension-space-4);
	--effect-shadow-400-layer-1-blur: var(--dimension-space-24);
	--effect-shadow-400-layer-1-spread: var(--dimension-space-neg4);
	--effect-shadow-400-layer-1-x: var(--dimension-space-0);
	--effect-shadow-400-layer-1-y: var(--dimension-space-20);
	--effect-shadow-400-layer-2-blur: var(--dimension-space-8);
	--effect-shadow-400-layer-2-spread: var(--dimension-space-neg4);
	--effect-shadow-400-layer-2-x: var(--dimension-space-0);
	--effect-shadow-400-layer-2-y: var(--dimension-space-8);
	--effect-shadow-500-layer-1-blur: var(--dimension-space-48);
	--effect-shadow-500-layer-1-spread: var(--dimension-space-neg12);
	--effect-shadow-500-layer-1-x: var(--dimension-space-0);
	--effect-shadow-500-layer-1-y: var(--dimension-space-24);
	--effect-shadow-500-layer-2-blur: var(--dimension-space-0);
	--effect-shadow-500-layer-2-spread: var(--dimension-space-0);
	--effect-shadow-500-layer-2-x: var(--dimension-space-0);
	--effect-shadow-500-layer-2-y: var(--dimension-space-0);
	--effect-shadow-600-layer-1-blur: var(--dimension-space-64);
	--effect-shadow-600-layer-1-spread: var(--dimension-space-neg12);
	--effect-shadow-600-layer-1-x: var(--dimension-space-0);
	--effect-shadow-600-layer-1-y: var(--dimension-space-32);
	--effect-shadow-600-layer-2-blur: var(--dimension-space-0);
	--effect-shadow-600-layer-2-spread: var(--dimension-space-0);
	--effect-shadow-600-layer-2-x: var(--dimension-space-0);
	--effect-shadow-600-layer-2-y: var(--dimension-space-0);
	--icon-button-mode-1-radius-lg: var(--dimension-rounded-full);
	--icon-button-mode-1-radius-md: var(--dimension-rounded-full);
	--icon-button-mode-1-radius-sm: var(--dimension-rounded-full);
	--icon-button-mode-1-radius-xl: var(--dimension-rounded-full);
	--icon-button-mode-1-radius-xs: var(--dimension-rounded-full);
	--input-radius-lg: var(--scale-lg-border-radius);
	--input-radius-md: var(--scale-md-border-radius);
	--input-radius-sm: var(--scale-sm-border-radius);
	--input-radius-xl: var(--scale-xl-border-radius);
	--input-stroke: var(--dimension-border-default);
	--linear-progress-gap-2xs: var(--dimension-space-8);
	--linear-progress-gap-3xs: var(--dimension-space-4);
	--list-padding-2xl: var(--dimension-space-0);
	--list-padding-lg: var(--dimension-space-0);
	--list-padding-md: var(--dimension-space-0);
	--list-padding-sm: var(--dimension-space-0);
	--list-padding-xl: var(--dimension-space-0);
	--pagination-radius: var(--scale-sm-border-radius);
	--pagination-stroke-selected: var(--dimension-border-none);
	--pagination-stroke-unselected: var(--dimension-border-none);
	--radio-size-container: var(--dimension-space-20);
	--radio-size-icon: var(--dimension-space-8);
	--radio-stroke-selected: var(--dimension-border-none);
	--radio-stroke-unselected: var(--dimension-border-interactive);
	--scale-2xl-border-radius: var(--dimension-rounded-12);
	--scale-2xl-gap: var(--dimension-space-16);
	--scale-2xl-height: var(--dimension-space-64);
	--scale-2xl-icon-size: var(--dimension-space-24);
	--scale-2xl-padding: var(--dimension-space-20);
	--scale-2xl-width: var(--dimension-space-64);
	--scale-2xs-border-radius: var(--dimension-rounded-2);
	--scale-2xs-gap: var(--dimension-space-2);
	--scale-2xs-height: var(--dimension-space-16);
	--scale-2xs-icon-size: var(--dimension-space-10);
	--scale-2xs-padding: var(--dimension-space-4);
	--scale-2xs-width: var(--dimension-space-16);
	--scale-3xs-border-radius: var(--dimension-rounded-2);
	--scale-3xs-gap: var(--dimension-space-2);
	--scale-3xs-height: var(--dimension-space-8);
	--scale-3xs-icon-size: var(--dimension-space-8);
	--scale-3xs-padding: var(--dimension-space-2);
	--scale-3xs-width: var(--dimension-space-8);
	--scale-lg-border-radius: var(--dimension-rounded-8);
	--scale-lg-gap: var(--dimension-space-8);
	--scale-lg-height: var(--dimension-space-48);
	--scale-lg-icon-size: var(--dimension-space-20);
	--scale-lg-padding: var(--dimension-space-12);
	--scale-lg-width: var(--dimension-space-48);
	--scale-md-border-radius: var(--dimension-rounded-8);
	--scale-md-gap: var(--dimension-space-8);
	--scale-md-height: var(--dimension-space-40);
	--scale-md-icon-size: var(--dimension-space-20);
	--scale-md-padding: var(--dimension-space-10);
	--scale-md-width: var(--dimension-space-40);
	--scale-sm-border-radius: var(--dimension-rounded-4);
	--scale-sm-gap: var(--dimension-space-6);
	--scale-sm-height: var(--dimension-space-32);
	--scale-sm-icon-size: var(--dimension-space-16);
	--scale-sm-padding: var(--dimension-space-8);
	--scale-sm-width: var(--dimension-space-32);
	--scale-xl-border-radius: var(--dimension-rounded-8);
	--scale-xl-gap: var(--dimension-space-12);
	--scale-xl-height: var(--dimension-space-56);
	--scale-xl-icon-size: var(--dimension-space-20);
	--scale-xl-padding: var(--dimension-space-16);
	--scale-xl-width: var(--dimension-space-56);
	--scale-xs-border-radius: var(--dimension-rounded-4);
	--scale-xs-gap: var(--dimension-space-4);
	--scale-xs-height: var(--dimension-space-24);
	--scale-xs-icon-size: var(--dimension-space-12);
	--scale-xs-padding: var(--dimension-space-6);
	--scale-xs-width: var(--dimension-space-24);
	--segmented-control-segment-radius-md: var(--scale-md-border-radius);
	--segmented-control-segment-radius-sm: var(--scale-sm-border-radius);
	--segmented-control-segment-stroke-selected: var(--dimension-border-none);
	--segmented-control-segment-stroke-unselected: var(--dimension-border-none);
	--segmented-control-track-gap-md: var(--dimension-space-4);
	--segmented-control-track-gap-sm: var(--dimension-space-4);
	--segmented-control-track-padding-md: var(--dimension-space-4);
	--segmented-control-track-padding-sm: var(--dimension-space-4);
	--segmented-control-track-radius-md: var(--scale-2xl-border-radius);
	--segmented-control-track-radius-sm: var(--scale-md-border-radius);
	--segmented-control-track-stroke: var(--dimension-border-none);
	--select-radius-lg: var(--scale-lg-border-radius);
	--select-radius-md: var(--scale-md-border-radius);
	--select-radius-sm: var(--scale-sm-border-radius);
	--select-radius-xl: var(--scale-xl-border-radius);
	--select-stroke: var(--dimension-border-default);
	--snackbar-caution-stroke: var(--dimension-border-default);
	--snackbar-discovery-stroke: var(--dimension-border-default);
	--snackbar-info-stroke: var(--dimension-border-default);
	--snackbar-negative-stroke: var(--dimension-border-default);
	--snackbar-neutral-stroke: var(--dimension-border-default);
	--snackbar-positive-stroke: var(--dimension-border-default);
	--switch-padding-knob: var(--dimension-space-2);
	--switch-stroke-selected: var(--dimension-border-none);
	--switch-stroke-unselected: var(--dimension-border-none);
	--tab-list-tab-radius-md: var(--scale-md-border-radius);
	--tab-list-tab-radius-sm: var(--scale-sm-border-radius);
	--tab-list-tab-stroke-selected: var(--dimension-border-interactive);
	--tab-list-tab-stroke-unselected: var(--dimension-border-default);
	--tab-list-track-stroke: var(--dimension-border-default);
	--tag-caution-radius-2xs: var(--scale-2xs-border-radius);
	--tag-caution-radius-xs: var(--scale-xs-border-radius);
	--tag-caution-stroke: var(--dimension-border-none);
	--tag-discovery-radius-2xs: var(--scale-2xs-border-radius);
	--tag-discovery-radius-xs: var(--scale-xs-border-radius);
	--tag-discovery-stroke: var(--dimension-border-none);
	--tag-info-radius-2xs: var(--scale-2xs-border-radius);
	--tag-info-radius-xs: var(--scale-xs-border-radius);
	--tag-info-stroke: var(--dimension-border-none);
	--tag-negative-radius-2xs: var(--scale-2xs-border-radius);
	--tag-negative-radius-xs: var(--scale-xs-border-radius);
	--tag-negative-stroke: var(--dimension-border-none);
	--tag-neutral-radius-2xs: var(--scale-2xs-border-radius);
	--tag-neutral-radius-xs: var(--scale-xs-border-radius);
	--tag-neutral-stroke: var(--dimension-border-none);
	--tag-positive-radius-2xs: var(--scale-2xs-border-radius);
	--tag-positive-radius-xs: var(--scale-xs-border-radius);
	--tag-positive-stroke: var(--dimension-border-none);
	--text-body-100-font-family: var(--text-font-family-primary);
	--text-body-100-font-size: var(--dimension-space-10);
	--text-body-100-font-weight: var(--text-font-weight-regular);
	--text-body-100-line-height: var(--dimension-space-12);
	--text-body-200-font-family: var(--text-font-family-primary);
	--text-body-200-font-size: var(--dimension-space-12);
	--text-body-200-font-weight: var(--text-font-weight-regular);
	--text-body-200-line-height: var(--dimension-space-16);
	--text-body-300-font-family: var(--text-font-family-primary);
	--text-body-300-font-size: var(--dimension-space-14);
	--text-body-300-font-weight: var(--text-font-weight-regular);
	--text-body-300-line-height: var(--dimension-space-20);
	--text-body-400-font-family: var(--text-font-family-primary);
	--text-body-400-font-size: var(--dimension-space-16);
	--text-body-400-font-weight: var(--text-font-weight-regular);
	--text-body-400-line-height: var(--dimension-space-24);
	--text-body-500-font-family: var(--text-font-family-primary);
	--text-body-500-font-size: var(--dimension-space-18);
	--text-body-500-font-weight: var(--text-font-weight-regular);
	--text-body-500-line-height: var(--dimension-space-28);
	--text-font-family-primary: "DM Sans";
	--text-font-family-secondary: "DM Mono";
	--text-font-family-tertiary: "DM Serif Display";
	--text-font-weight-black: 900;
	--text-font-weight-bold: 700;
	--text-font-weight-extra-bold: 800;
	--text-font-weight-extra-light: 200;
	--text-font-weight-light: 300;
	--text-font-weight-medium: 500;
	--text-font-weight-regular: 400;
	--text-font-weight-semi-bold: 600;
	--text-font-weight-thin: 100;
	--text-heading-100-font-family: var(--text-font-family-primary);
	--text-heading-100-font-size: var(--dimension-space-18);
	--text-heading-100-font-weight: var(--text-font-weight-bold);
	--text-heading-100-line-height: var(--dimension-space-28);
	--text-heading-200-font-family: var(--text-font-family-primary);
	--text-heading-200-font-size: var(--dimension-space-24);
	--text-heading-200-font-weight: var(--text-font-weight-bold);
	--text-heading-200-line-height: var(--dimension-space-32);
	--text-heading-300-font-family: var(--text-font-family-secondary);
	--text-heading-300-font-size: var(--dimension-space-36);
	--text-heading-300-font-weight: var(--text-font-weight-bold);
	--text-heading-300-line-height: var(--dimension-space-40);
	--text-heading-400-font-family: var(--text-font-family-secondary);
	--text-heading-400-font-size: var(--dimension-space-48);
	--text-heading-400-font-weight: var(--text-font-weight-bold);
	--text-heading-400-line-height: var(--dimension-space-56);
	--text-heading-500-font-family: var(--text-font-family-secondary);
	--text-heading-500-font-size: var(--dimension-space-72);
	--text-heading-500-font-weight: var(--text-font-weight-bold);
	--text-heading-500-line-height: var(--dimension-space-80);
	--textarea-radius: var(--scale-xl-border-radius);
	--textarea-stroke: var(--dimension-border-default);
}

.light-theme, :root.light-theme, .light-theme *::backdrop, .light-theme *::before, .light-theme *::after { 
	--accordion-background: var(--semantic-background-tertiary);
	--accordion-border: var(--semantic-border-secondary);
	--accordion-content: var(--semantic-text-secondary);
	--accordion-icon: var(--semantic-icon-primary);
	--accordion-title: var(--semantic-text-primary);
	--alert-caution-background: var(--semantic-background-caution);
	--alert-caution-border: var(--semantic-border-caution);
	--alert-caution-icon: var(--semantic-icon-force-light);
	--alert-caution-text: var(--semantic-text-force-light);
	--alert-discovery-background: var(--semantic-background-discovery);
	--alert-discovery-border: var(--semantic-border-discovery);
	--alert-discovery-icon: var(--semantic-icon-force-light);
	--alert-discovery-text: var(--semantic-text-force-light);
	--alert-info-background: var(--semantic-background-info);
	--alert-info-border: var(--semantic-border-info);
	--alert-info-icon: var(--semantic-icon-force-light);
	--alert-info-text: var(--semantic-text-force-light);
	--alert-negative-background: var(--semantic-background-negative);
	--alert-negative-border: var(--semantic-border-negative);
	--alert-negative-icon: var(--semantic-icon-force-light);
	--alert-negative-text: var(--semantic-text-force-light);
	--alert-neutral-background: var(--semantic-background-tertiary);
	--alert-neutral-border: var(--semantic-border-secondary);
	--alert-neutral-icon: var(--semantic-icon-primary);
	--alert-neutral-text: var(--semantic-text-primary);
	--alert-positive-background: var(--semantic-background-positive);
	--alert-positive-border: var(--semantic-border-positive);
	--alert-positive-icon: var(--semantic-icon-force-light);
	--alert-positive-text: var(--semantic-text-force-light);
	--authenticator-background: var(--semantic-background-secondary);
	--authenticator-border: var(--semantic-border-secondary);
	--avatar-background: var(--semantic-background-secondary);
	--avatar-icon: var(--semantic-icon-primary);
	--avatar-text: var(--semantic-text-primary);
	--badge-caution-background: var(--semantic-background-caution);
	--badge-caution-border: var(--semantic-border-primary);
	--badge-caution-text: var(--semantic-text-force-light);
	--badge-discovery-background: var(--semantic-background-discovery);
	--badge-discovery-border: var(--semantic-border-primary);
	--badge-discovery-text: var(--semantic-text-force-light);
	--badge-info-background: var(--semantic-background-info);
	--badge-info-border: var(--semantic-border-primary);
	--badge-info-text: var(--semantic-text-force-light);
	--badge-negative-background: var(--semantic-background-negative);
	--badge-negative-border: var(--semantic-border-primary);
	--badge-negative-text: var(--semantic-text-force-light);
	--badge-neutral-background: var(--semantic-background-tertiary);
	--badge-neutral-border: var(--semantic-border-primary);
	--badge-neutral-text: var(--semantic-text-primary);
	--badge-positive-background: var(--semantic-background-positive);
	--badge-positive-border: var(--semantic-border-primary);
	--badge-positive-text: var(--semantic-text-force-light);
	--bottom-sheet-background: var(--semantic-background-primary);
	--bottom-sheet-gap: var(--scale-2xl-gap);
	--bottom-sheet-padding: var(--scale-2xl-padding);
	--button-variant-destructive-background: var(--semantic-background-negative);
	--button-variant-destructive-icon: var(--semantic-icon-force-light);
	--button-variant-destructive-text: var(--semantic-text-force-light);
	--button-variant-filled-background: var(--semantic-background-brand);
	--button-variant-filled-icon: var(--semantic-icon-force-light);
	--button-variant-filled-text: var(--semantic-text-force-light);
	--button-variant-ghost-background: var(--semantic-background-transparent);
	--button-variant-ghost-icon: var(--semantic-icon-primary);
	--button-variant-ghost-text: var(--semantic-text-primary);
	--button-variant-outline-background: var(--semantic-background-transparent);
	--button-variant-outline-border: var(--semantic-border-secondary);
	--button-variant-outline-icon: var(--semantic-icon-primary);
	--button-variant-outline-text: var(--semantic-text-primary);
	--button-variant-tonal-background: var(--semantic-background-tertiary);
	--button-variant-tonal-icon: var(--semantic-icon-primary);
	--button-variant-tonal-text: var(--semantic-text-primary);
	--carousel-gap: var(--scale-xl-gap);
	--checkbox-background-indeterminate: var(--semantic-background-active);
	--checkbox-background-selected: var(--semantic-background-active);
	--checkbox-background-unselected: var(--semantic-background-primary);
	--checkbox-border-indeterminate: var(--semantic-border-active);
	--checkbox-border-selected: var(--semantic-border-active);
	--checkbox-border-unselected: var(--semantic-border-primary);
	--checkbox-icon-indeterminate: var(--semantic-icon-force-light);
	--checkbox-icon-selected: var(--semantic-icon-force-light);
	--chip-variant-ghost-background-selected: var(--semantic-background-brand-subtle);
	--chip-variant-ghost-background-unselected: var(--semantic-background-transparent);
	--chip-variant-ghost-icon-selected: var(--semantic-icon-primary);
	--chip-variant-ghost-icon-unselected: var(--semantic-icon-primary);
	--chip-variant-ghost-text-selected: var(--semantic-text-primary);
	--chip-variant-ghost-text-unselected: var(--semantic-text-primary);
	--chip-variant-outline-background-selected: var(--semantic-background-primary);
	--chip-variant-outline-background-unselected: var(--semantic-background-transparent);
	--chip-variant-outline-border-selected: var(--semantic-border-active);
	--chip-variant-outline-border-unselected: var(--semantic-border-secondary);
	--chip-variant-outline-icon-selected: var(--semantic-icon-primary);
	--chip-variant-outline-icon-unselected: var(--semantic-icon-primary);
	--chip-variant-outline-text-selected: var(--semantic-text-primary);
	--chip-variant-outline-text-unselected: var(--semantic-text-primary);
	--circular-progress-progress: var(--semantic-border-active);
	--circular-progress-track: var(--semantic-border-secondary);
	--color-green-1: 251 254 252;
	--color-green-10: 43 154 102;
	--color-green-11: 33 131 88;
	--color-green-12: 25 59 45;
	--color-green-2: 244 251 246;
	--color-green-3: 230 246 235;
	--color-green-4: 214 241 223;
	--color-green-5: 196 232 209;
	--color-green-6: 173 221 192;
	--color-green-7: 142 206 170;
	--color-green-8: 91 185 139;
	--color-green-9: 48 164 108;
	--color-indigo-1: 253 253 254;
	--color-indigo-10: 51 88 212;
	--color-indigo-11: 13 116 206;
	--color-indigo-12: 31 45 92;
	--color-indigo-2: 247 249 255;
	--color-indigo-3: 237 242 254;
	--color-indigo-4: 225 233 255;
	--color-indigo-5: 210 222 255;
	--color-indigo-6: 193 208 255;
	--color-indigo-7: 171 189 249;
	--color-indigo-8: 141 164 239;
	--color-indigo-9: 62 99 221;
	--color-iris-1: 253 253 255;
	--color-iris-10: 81 81 205;
	--color-iris-11: 87 83 198;
	--color-iris-12: 39 41 98;
	--color-iris-2: 248 248 255;
	--color-iris-3: 240 241 254;
	--color-iris-4: 230 231 255;
	--color-iris-5: 218 220 255;
	--color-iris-6: 203 205 255;
	--color-iris-7: 184 186 248;
	--color-iris-8: 155 158 240;
	--color-iris-9: 91 91 214;
	--color-orange-1: 254 252 251;
	--color-orange-10: 239 95 0;
	--color-orange-11: 204 78 0;
	--color-orange-12: 88 45 29;
	--color-orange-2: 255 247 237;
	--color-orange-3: 255 239 214;
	--color-orange-4: 255 223 181;
	--color-orange-5: 255 209 154;
	--color-orange-6: 255 193 130;
	--color-orange-7: 245 174 115;
	--color-orange-8: 236 148 85;
	--color-orange-9: 247 107 21;
	--color-plum-1: 254 252 255;
	--color-plum-10: 161 68 175;
	--color-plum-11: 149 62 163;
	--color-plum-12: 83 25 93;
	--color-plum-2: 253 247 253;
	--color-plum-3: 251 235 251;
	--color-plum-4: 247 222 248;
	--color-plum-5: 242 209 243;
	--color-plum-6: 233 194 236;
	--color-plum-7: 222 173 227;
	--color-plum-8: 207 145 216;
	--color-plum-9: 171 74 186;
	--color-red-1: 255 252 252;
	--color-red-10: 220 62 66;
	--color-red-11: 206 44 49;
	--color-red-12: 100 23 35;
	--color-red-2: 255 247 247;
	--color-red-3: 254 235 236;
	--color-red-4: 255 219 220;
	--color-red-5: 255 205 206;
	--color-red-6: 253 189 190;
	--color-red-7: 244 169 170;
	--color-red-8: 235 142 144;
	--color-red-9: 229 72 77;
	--color-slate-1: 252 252 253;
	--color-slate-10: 128 131 141;
	--color-slate-11: 96 100 108;
	--color-slate-12: 28 32 36;
	--color-slate-2: 249 249 251;
	--color-slate-3: 240 240 243;
	--color-slate-4: 232 232 236;
	--color-slate-5: 224 225 230;
	--color-slate-6: 217 217 224;
	--color-slate-7: 205 206 214;
	--color-slate-8: 185 187 198;
	--color-slate-9: 139 141 152;
	--color-slate-alpha-0: 28 32 36 / 0;
	--color-slate-alpha-56: 28 32 36 / 0.56;
	--color-slate-alpha-8: 28 32 36 / 0.08;
	--color-slate-force-dark: 28 32 36;
	--color-slate-force-light: 252 252 253;
	--color-slate-shadow-0: 28 32 36 / 0;
	--color-slate-shadow-100: 28 32 36 / 0.04;
	--color-slate-shadow-200: 28 32 36 / 0.06;
	--color-slate-shadow-300: 28 32 36 / 0.08;
	--color-slate-shadow-400: 28 32 36 / 0.1;
	--color-slate-shadow-500: 28 32 36 / 0.16;
	--dialog-background: var(--semantic-background-primary);
	--dialog-gap: var(--scale-2xl-gap);
	--dialog-padding: var(--scale-2xl-padding);
	--drawer-background: var(--semantic-background-primary);
	--drawer-gap: var(--scale-2xl-gap);
	--drawer-padding: var(--scale-2xl-padding);
	--dropdown-background: var(--semantic-background-primary);
	--dropdown-border: var(--semantic-border-secondary);
	--effect-shadow-100-layer-1-color: rgb(var(--color-slate-shadow-200));
	--effect-shadow-100-layer-2-color: rgb(var(--color-slate-shadow-0));
	--effect-shadow-200-layer-1-color: rgb(var(--color-slate-shadow-400));
	--effect-shadow-200-layer-2-color: rgb(var(--color-slate-shadow-100));
	--effect-shadow-300-layer-1-color: rgb(var(--color-slate-shadow-300));
	--effect-shadow-300-layer-2-color: rgb(var(--color-slate-shadow-100));
	--effect-shadow-400-layer-1-color: rgb(var(--color-slate-shadow-300));
	--effect-shadow-400-layer-2-color: rgb(var(--color-slate-shadow-100));
	--effect-shadow-500-layer-1-color: rgb(var(--color-slate-shadow-500));
	--effect-shadow-500-layer-2-color: rgb(var(--color-slate-shadow-0));
	--effect-shadow-600-layer-1-color: rgb(var(--color-slate-shadow-500));
	--effect-shadow-600-layer-2-color: rgb(var(--color-slate-shadow-0));
	--icon-button-mode-1-variant-destructive-background: var(--semantic-background-negative);
	--icon-button-mode-1-variant-destructive-icon: var(--semantic-icon-force-light);
	--icon-button-mode-1-variant-filled-background: var(--semantic-background-brand);
	--icon-button-mode-1-variant-filled-icon: var(--semantic-icon-force-light);
	--icon-button-mode-1-variant-ghost-background: var(--semantic-background-transparent);
	--icon-button-mode-1-variant-ghost-icon: var(--semantic-icon-primary);
	--icon-button-mode-1-variant-outline-background: var(--semantic-background-transparent);
	--icon-button-mode-1-variant-outline-border: var(--semantic-border-secondary);
	--icon-button-mode-1-variant-outline-icon: var(--semantic-icon-primary);
	--icon-button-mode-1-variant-tonal-background: var(--semantic-background-tertiary);
	--icon-button-mode-1-variant-tonal-icon: var(--semantic-icon-primary);
	--input-background: var(--semantic-background-primary);
	--input-border: var(--semantic-border-primary);
	--linear-progress-progress: var(--semantic-border-active);
	--linear-progress-track: var(--semantic-border-secondary);
	--loader-icon: var(--semantic-icon-active);
	--loader-progress: var(--semantic-border-active);
	--loader-track: var(--semantic-border-secondary);
	--pagination-background-selected: var(--semantic-background-inverse);
	--pagination-background-unselected: var(--semantic-background-transparent);
	--pagination-border-selected: var(--semantic-border-active);
	--pagination-border-unselected: var(--semantic-border-primary);
	--pagination-text-selected: var(--semantic-text-inverse);
	--pagination-text-unselected: var(--semantic-text-primary);
	--radio-background-selected: var(--semantic-background-active);
	--radio-background-unselected: var(--semantic-background-primary);
	--radio-border-selected: var(--semantic-border-active);
	--radio-border-unselected: var(--semantic-border-primary);
	--radio-icon-selected: var(--semantic-icon-force-light);
	--segmented-control-segment-background-selected: var(--semantic-background-active);
	--segmented-control-segment-background-unselected: var(--semantic-background-transparent);
	--segmented-control-segment-border-selected: var(--semantic-border-active);
	--segmented-control-segment-border-unselected: var(--semantic-border-secondary);
	--segmented-control-segment-icon-selected: var(--semantic-icon-force-light);
	--segmented-control-segment-icon-unselected: var(--semantic-icon-primary);
	--segmented-control-segment-text-selected: var(--semantic-text-force-light);
	--segmented-control-segment-text-unselected: var(--semantic-text-primary);
	--segmented-control-track-background: var(--semantic-background-tertiary);
	--segmented-control-track-border: var(--semantic-border-primary);
	--select-background: var(--semantic-background-primary);
	--select-border: var(--semantic-border-primary);
	--semantic-background-active: rgb(var(--color-indigo-9));
	--semantic-background-backdrop: rgb(var(--color-slate-alpha-56));
	--semantic-background-brand: rgb(var(--color-iris-9));
	--semantic-background-brand-subtle: rgb(var(--color-iris-3));
	--semantic-background-caution: rgb(var(--color-orange-9));
	--semantic-background-discovery: rgb(var(--color-plum-9));
	--semantic-background-force-dark: rgb(var(--color-slate-force-dark));
	--semantic-background-force-light: rgb(var(--color-slate-force-light));
	--semantic-background-hover: rgb(var(--color-slate-alpha-8));
	--semantic-background-info: rgb(var(--color-indigo-9));
	--semantic-background-inverse: rgb(var(--color-slate-12));
	--semantic-background-negative: rgb(var(--color-red-9));
	--semantic-background-positive: rgb(var(--color-green-9));
	--semantic-background-primary: rgb(var(--color-slate-1));
	--semantic-background-secondary: rgb(var(--color-slate-2));
	--semantic-background-tertiary: rgb(var(--color-slate-3));
	--semantic-background-transparent: rgb(var(--color-slate-alpha-0));
	--semantic-border-active: rgb(var(--color-indigo-9));
	--semantic-border-brand: rgb(var(--color-iris-9));
	--semantic-border-brand-subtle: rgb(var(--color-iris-3));
	--semantic-border-caution: rgb(var(--color-orange-9));
	--semantic-border-discovery: rgb(var(--color-plum-9));
	--semantic-border-force-dark: rgb(var(--color-slate-force-dark));
	--semantic-border-force-light: rgb(var(--color-slate-force-light));
	--semantic-border-info: rgb(var(--color-indigo-9));
	--semantic-border-inverse: rgb(var(--color-slate-12));
	--semantic-border-negative: rgb(var(--color-red-9));
	--semantic-border-positive: rgb(var(--color-green-9));
	--semantic-border-primary: rgb(var(--color-slate-7));
	--semantic-border-secondary: rgb(var(--color-slate-6));
	--semantic-icon-active: rgb(var(--color-indigo-9));
	--semantic-icon-brand: rgb(var(--color-iris-9));
	--semantic-icon-caution: rgb(var(--color-orange-9));
	--semantic-icon-discovery: rgb(var(--color-plum-9));
	--semantic-icon-force-dark: rgb(var(--color-slate-force-dark));
	--semantic-icon-force-light: rgb(var(--color-slate-force-light));
	--semantic-icon-info: rgb(var(--color-indigo-9));
	--semantic-icon-inverse: rgb(var(--color-slate-1));
	--semantic-icon-negative: rgb(var(--color-red-9));
	--semantic-icon-positive: rgb(var(--color-green-9));
	--semantic-icon-primary: rgb(var(--color-slate-12));
	--semantic-icon-secondary: rgb(var(--color-slate-11));
	--semantic-text-active: rgb(var(--color-indigo-9));
	--semantic-text-brand: rgb(var(--color-iris-9));
	--semantic-text-caution: rgb(var(--color-orange-9));
	--semantic-text-discovery: rgb(var(--color-plum-9));
	--semantic-text-force-dark: rgb(var(--color-slate-force-dark));
	--semantic-text-force-light: rgb(var(--color-slate-force-light));
	--semantic-text-info: rgb(var(--color-indigo-9));
	--semantic-text-inverse: rgb(var(--color-slate-1));
	--semantic-text-link: rgb(var(--color-indigo-9));
	--semantic-text-negative: rgb(var(--color-red-9));
	--semantic-text-positive: rgb(var(--color-green-9));
	--semantic-text-primary: rgb(var(--color-slate-12));
	--semantic-text-secondary: rgb(var(--color-slate-11));
	--separator-border: var(--semantic-border-secondary);
	--snackbar-caution-background: var(--semantic-background-caution);
	--snackbar-caution-border: var(--semantic-border-caution);
	--snackbar-caution-icon: var(--semantic-icon-force-light);
	--snackbar-caution-text: var(--semantic-text-force-light);
	--snackbar-discovery-background: var(--semantic-background-discovery);
	--snackbar-discovery-border: var(--semantic-border-discovery);
	--snackbar-discovery-icon: var(--semantic-background-force-light);
	--snackbar-discovery-text: var(--semantic-background-force-light);
	--snackbar-info-background: var(--semantic-background-info);
	--snackbar-info-border: var(--semantic-border-info);
	--snackbar-info-icon: var(--semantic-icon-force-light);
	--snackbar-info-text: var(--semantic-text-force-light);
	--snackbar-negative-background: var(--semantic-background-negative);
	--snackbar-negative-border: var(--semantic-background-negative);
	--snackbar-negative-icon: var(--semantic-icon-force-light);
	--snackbar-negative-text: var(--semantic-text-force-light);
	--snackbar-neutral-background: var(--semantic-background-tertiary);
	--snackbar-neutral-border: var(--semantic-border-secondary);
	--snackbar-neutral-icon: var(--semantic-icon-primary);
	--snackbar-neutral-text: var(--semantic-text-primary);
	--snackbar-positive-background: var(--semantic-background-positive);
	--snackbar-positive-border: var(--semantic-background-positive);
	--snackbar-positive-icon: var(--semantic-icon-force-light);
	--snackbar-positive-text: var(--semantic-text-force-light);
	--switch-background-selected: var(--semantic-background-active);
	--switch-background-unselected: var(--semantic-background-tertiary);
	--switch-border-selected: var(--semantic-border-active);
	--switch-border-unselected: var(--semantic-border-primary);
	--switch-icon-selected: var(--semantic-icon-force-light);
	--switch-icon-unselected: var(--semantic-icon-secondary);
	--tab-list-tab-background-selected: var(--semantic-background-transparent);
	--tab-list-tab-background-unselected: var(--semantic-background-transparent);
	--tab-list-tab-border-selected: var(--semantic-border-active);
	--tab-list-tab-border-unselected: var(--semantic-border-primary);
	--tab-list-tab-icon-selected: var(--semantic-icon-active);
	--tab-list-tab-icon-unselected: var(--semantic-icon-primary);
	--tab-list-tab-text-selected: var(--semantic-text-active);
	--tab-list-tab-text-unselected: var(--semantic-text-primary);
	--tab-list-track-border: var(--semantic-border-primary);
	--tag-caution-background: var(--semantic-background-caution);
	--tag-caution-border: var(--semantic-border-caution);
	--tag-caution-icon: var(--semantic-icon-force-light);
	--tag-caution-text: var(--semantic-text-force-light);
	--tag-discovery-background: var(--semantic-background-discovery);
	--tag-discovery-border: var(--semantic-border-discovery);
	--tag-discovery-icon: var(--semantic-icon-force-light);
	--tag-discovery-text: var(--semantic-text-force-light);
	--tag-info-background: var(--semantic-background-info);
	--tag-info-border: var(--semantic-border-info);
	--tag-info-icon: var(--semantic-icon-force-light);
	--tag-info-text: var(--semantic-text-force-light);
	--tag-negative-background: var(--semantic-background-negative);
	--tag-negative-border: var(--semantic-border-negative);
	--tag-negative-icon: var(--semantic-icon-force-light);
	--tag-negative-text: var(--semantic-text-force-light);
	--tag-neutral-background: var(--semantic-background-tertiary);
	--tag-neutral-border: var(--semantic-border-primary);
	--tag-neutral-icon: var(--semantic-icon-primary);
	--tag-neutral-text: var(--semantic-text-primary);
	--tag-positive-background: var(--semantic-background-positive);
	--tag-positive-border: var(--semantic-border-positive);
	--tag-positive-icon: var(--semantic-icon-force-light);
	--tag-positive-text: var(--semantic-text-force-light);
	--textarea-background: var(--semantic-background-primary);
	--textarea-border: var(--semantic-border-primary);
	--tooltip-background: var(--semantic-background-inverse);
	--tooltip-pointer: var(--semantic-icon-primary);
	--tooltip-text: var(--semantic-text-inverse);
}

.dark-theme, :root.dark-theme, .dark-theme *::backdrop, .dark-theme *::before, .dark-theme *::after { 
	--accordion-background: var(--semantic-background-tertiary);
	--accordion-border: var(--semantic-border-secondary);
	--accordion-content: var(--semantic-text-secondary);
	--accordion-icon: var(--semantic-icon-primary);
	--accordion-title: var(--semantic-text-primary);
	--alert-caution-background: var(--semantic-background-caution);
	--alert-caution-border: var(--semantic-border-caution);
	--alert-caution-icon: var(--semantic-icon-force-light);
	--alert-caution-text: var(--semantic-text-force-light);
	--alert-discovery-background: var(--semantic-background-discovery);
	--alert-discovery-border: var(--semantic-border-discovery);
	--alert-discovery-icon: var(--semantic-icon-force-light);
	--alert-discovery-text: var(--semantic-text-force-light);
	--alert-info-background: var(--semantic-background-info);
	--alert-info-border: var(--semantic-border-info);
	--alert-info-icon: var(--semantic-icon-force-light);
	--alert-info-text: var(--semantic-text-force-light);
	--alert-negative-background: var(--semantic-background-negative);
	--alert-negative-border: var(--semantic-border-negative);
	--alert-negative-icon: var(--semantic-icon-force-light);
	--alert-negative-text: var(--semantic-text-force-light);
	--alert-neutral-background: var(--semantic-background-tertiary);
	--alert-neutral-border: var(--semantic-border-secondary);
	--alert-neutral-icon: var(--semantic-icon-primary);
	--alert-neutral-text: var(--semantic-text-primary);
	--alert-positive-background: var(--semantic-background-positive);
	--alert-positive-border: var(--semantic-border-positive);
	--alert-positive-icon: var(--semantic-icon-force-light);
	--alert-positive-text: var(--semantic-text-force-light);
	--authenticator-background: var(--semantic-background-secondary);
	--authenticator-border: var(--semantic-border-secondary);
	--avatar-background: var(--semantic-background-secondary);
	--avatar-icon: var(--semantic-icon-primary);
	--avatar-text: var(--semantic-text-primary);
	--badge-caution-background: var(--semantic-background-caution);
	--badge-caution-border: var(--semantic-border-primary);
	--badge-caution-text: var(--semantic-text-force-light);
	--badge-discovery-background: var(--semantic-background-discovery);
	--badge-discovery-border: var(--semantic-border-primary);
	--badge-discovery-text: var(--semantic-text-force-light);
	--badge-info-background: var(--semantic-background-info);
	--badge-info-border: var(--semantic-border-primary);
	--badge-info-text: var(--semantic-text-force-light);
	--badge-negative-background: var(--semantic-background-negative);
	--badge-negative-border: var(--semantic-border-primary);
	--badge-negative-text: var(--semantic-text-force-light);
	--badge-neutral-background: var(--semantic-background-tertiary);
	--badge-neutral-border: var(--semantic-border-primary);
	--badge-neutral-text: var(--semantic-text-primary);
	--badge-positive-background: var(--semantic-background-positive);
	--badge-positive-border: var(--semantic-border-primary);
	--badge-positive-text: var(--semantic-text-force-light);
	--bottom-sheet-background: var(--semantic-background-primary);
	--bottom-sheet-gap: var(--scale-2xl-gap);
	--bottom-sheet-padding: var(--scale-2xl-padding);
	--button-variant-destructive-background: var(--semantic-background-negative);
	--button-variant-destructive-icon: var(--semantic-icon-force-light);
	--button-variant-destructive-text: var(--semantic-text-force-light);
	--button-variant-filled-background: var(--semantic-background-brand);
	--button-variant-filled-icon: var(--semantic-icon-force-light);
	--button-variant-filled-text: var(--semantic-text-force-light);
	--button-variant-ghost-background: var(--semantic-background-transparent);
	--button-variant-ghost-icon: var(--semantic-icon-primary);
	--button-variant-ghost-text: var(--semantic-text-primary);
	--button-variant-outline-background: var(--semantic-background-transparent);
	--button-variant-outline-border: var(--semantic-border-secondary);
	--button-variant-outline-icon: var(--semantic-icon-primary);
	--button-variant-outline-text: var(--semantic-text-primary);
	--button-variant-tonal-background: var(--semantic-background-tertiary);
	--button-variant-tonal-icon: var(--semantic-icon-primary);
	--button-variant-tonal-text: var(--semantic-text-primary);
	--carousel-gap: var(--scale-xl-gap);
	--checkbox-background-indeterminate: var(--semantic-background-active);
	--checkbox-background-selected: var(--semantic-background-active);
	--checkbox-background-unselected: var(--semantic-background-primary);
	--checkbox-border-indeterminate: var(--semantic-border-active);
	--checkbox-border-selected: var(--semantic-border-active);
	--checkbox-border-unselected: var(--semantic-border-primary);
	--checkbox-icon-indeterminate: var(--semantic-icon-force-light);
	--checkbox-icon-selected: var(--semantic-icon-force-light);
	--chip-variant-ghost-background-selected: var(--semantic-background-brand-subtle);
	--chip-variant-ghost-background-unselected: var(--semantic-background-transparent);
	--chip-variant-ghost-icon-selected: var(--semantic-icon-primary);
	--chip-variant-ghost-icon-unselected: var(--semantic-icon-primary);
	--chip-variant-ghost-text-selected: var(--semantic-text-primary);
	--chip-variant-ghost-text-unselected: var(--semantic-text-primary);
	--chip-variant-outline-background-selected: var(--semantic-background-primary);
	--chip-variant-outline-background-unselected: var(--semantic-background-transparent);
	--chip-variant-outline-border-selected: var(--semantic-border-active);
	--chip-variant-outline-border-unselected: var(--semantic-border-secondary);
	--chip-variant-outline-icon-selected: var(--semantic-icon-primary);
	--chip-variant-outline-icon-unselected: var(--semantic-icon-primary);
	--chip-variant-outline-text-selected: var(--semantic-text-primary);
	--chip-variant-outline-text-unselected: var(--semantic-text-primary);
	--circular-progress-progress: var(--semantic-border-active);
	--circular-progress-track: var(--semantic-border-secondary);
	--color-green-1: 14 21 18;
	--color-green-10: 51 176 116;
	--color-green-11: 61 214 140;
	--color-green-12: 177 241 203;
	--color-green-2: 18 27 23;
	--color-green-3: 19 45 33;
	--color-green-4: 17 59 41;
	--color-green-5: 23 73 51;
	--color-green-6: 32 87 62;
	--color-green-7: 40 104 74;
	--color-green-8: 47 124 87;
	--color-green-9: 48 164 108;
	--color-indigo-1: 17 19 31;
	--color-indigo-10: 84 114 228;
	--color-indigo-11: 158 177 255;
	--color-indigo-12: 214 225 255;
	--color-indigo-2: 20 23 38;
	--color-indigo-3: 24 36 73;
	--color-indigo-4: 29 46 98;
	--color-indigo-5: 37 57 116;
	--color-indigo-6: 48 67 132;
	--color-indigo-7: 58 79 151;
	--color-indigo-8: 67 93 177;
	--color-indigo-9: 62 99 221;
	--color-iris-1: 19 19 30;
	--color-iris-10: 110 106 222;
	--color-iris-11: 177 169 255;
	--color-iris-12: 224 223 254;
	--color-iris-2: 23 22 37;
	--color-iris-3: 32 34 72;
	--color-iris-4: 38 42 101;
	--color-iris-5: 48 51 116;
	--color-iris-6: 61 62 130;
	--color-iris-7: 74 74 149;
	--color-iris-8: 89 88 177;
	--color-iris-9: 91 91 214;
	--color-orange-1: 23 18 14;
	--color-orange-10: 255 128 31;
	--color-orange-11: 255 160 87;
	--color-orange-12: 255 224 194;
	--color-orange-2: 30 22 15;
	--color-orange-3: 51 30 11;
	--color-orange-4: 70 33 0;
	--color-orange-5: 86 40 0;
	--color-orange-6: 102 53 12;
	--color-orange-7: 126 69 29;
	--color-orange-8: 163 88 41;
	--color-orange-9: 247 107 21;
	--color-plum-1: 24 17 24;
	--color-plum-10: 182 88 196;
	--color-plum-11: 231 150 243;
	--color-plum-12: 244 212 244;
	--color-plum-2: 32 19 32;
	--color-plum-3: 53 26 53;
	--color-plum-4: 69 29 71;
	--color-plum-5: 81 36 84;
	--color-plum-6: 94 48 97;
	--color-plum-7: 115 64 121;
	--color-plum-8: 146 84 156;
	--color-plum-9: 171 74 186;
	--color-red-1: 25 17 17;
	--color-red-10: 236 93 94;
	--color-red-11: 255 149 146;
	--color-red-12: 255 209 217;
	--color-red-2: 32 19 20;
	--color-red-3: 59 18 25;
	--color-red-4: 80 15 28;
	--color-red-5: 97 22 35;
	--color-red-6: 114 35 45;
	--color-red-7: 140 51 58;
	--color-red-8: 181 69 72;
	--color-red-9: 229 72 77;
	--color-slate-1: 17 17 19;
	--color-slate-10: 119 123 132;
	--color-slate-11: 176 180 186;
	--color-slate-12: 237 238 240;
	--color-slate-2: 24 25 27;
	--color-slate-3: 33 34 37;
	--color-slate-4: 39 42 45;
	--color-slate-5: 46 49 53;
	--color-slate-6: 54 58 63;
	--color-slate-7: 67 72 78;
	--color-slate-8: 90 97 105;
	--color-slate-9: 105 110 119;
	--color-slate-alpha-0: 237 238 240 / 0;
	--color-slate-alpha-56: 237 238 240 / 0.16;
	--color-slate-alpha-8: 237 238 240 / 0.08;
	--color-slate-force-dark: 17 17 19;
	--color-slate-force-light: 237 238 240;
	--color-slate-shadow-0: 0 0 0 / 0;
	--color-slate-shadow-100: 0 0 0 / 0.16;
	--color-slate-shadow-200: 0 0 0 / 0.24;
	--color-slate-shadow-300: 0 0 0 / 0.32;
	--color-slate-shadow-400: 0 0 0 / 0.4;
	--color-slate-shadow-500: 0 0 0 / 0.64;
	--dialog-background: var(--semantic-background-primary);
	--dialog-gap: var(--scale-2xl-gap);
	--dialog-padding: var(--scale-2xl-padding);
	--drawer-background: var(--semantic-background-primary);
	--drawer-gap: var(--scale-2xl-gap);
	--drawer-padding: var(--scale-2xl-padding);
	--dropdown-background: var(--semantic-background-primary);
	--dropdown-border: var(--semantic-border-secondary);
	--effect-shadow-100-layer-1-color: rgb(var(--color-slate-shadow-200));
	--effect-shadow-100-layer-2-color: rgb(var(--color-slate-shadow-0));
	--effect-shadow-200-layer-1-color: rgb(var(--color-slate-shadow-400));
	--effect-shadow-200-layer-2-color: rgb(var(--color-slate-shadow-100));
	--effect-shadow-300-layer-1-color: rgb(var(--color-slate-shadow-300));
	--effect-shadow-300-layer-2-color: rgb(var(--color-slate-shadow-100));
	--effect-shadow-400-layer-1-color: rgb(var(--color-slate-shadow-300));
	--effect-shadow-400-layer-2-color: rgb(var(--color-slate-shadow-100));
	--effect-shadow-500-layer-1-color: rgb(var(--color-slate-shadow-500));
	--effect-shadow-500-layer-2-color: rgb(var(--color-slate-shadow-0));
	--effect-shadow-600-layer-1-color: rgb(var(--color-slate-shadow-500));
	--effect-shadow-600-layer-2-color: rgb(var(--color-slate-shadow-0));
	--icon-button-mode-1-variant-destructive-background: var(--semantic-background-negative);
	--icon-button-mode-1-variant-destructive-icon: var(--semantic-icon-force-light);
	--icon-button-mode-1-variant-filled-background: var(--semantic-background-brand);
	--icon-button-mode-1-variant-filled-icon: var(--semantic-icon-force-light);
	--icon-button-mode-1-variant-ghost-background: var(--semantic-background-transparent);
	--icon-button-mode-1-variant-ghost-icon: var(--semantic-icon-primary);
	--icon-button-mode-1-variant-outline-background: var(--semantic-background-transparent);
	--icon-button-mode-1-variant-outline-border: var(--semantic-border-secondary);
	--icon-button-mode-1-variant-outline-icon: var(--semantic-icon-primary);
	--icon-button-mode-1-variant-tonal-background: var(--semantic-background-tertiary);
	--icon-button-mode-1-variant-tonal-icon: var(--semantic-icon-primary);
	--input-background: var(--semantic-background-primary);
	--input-border: var(--semantic-border-primary);
	--linear-progress-progress: var(--semantic-border-active);
	--linear-progress-track: var(--semantic-border-secondary);
	--loader-icon: var(--semantic-icon-active);
	--loader-progress: var(--semantic-border-active);
	--loader-track: var(--semantic-border-secondary);
	--pagination-background-selected: var(--semantic-background-inverse);
	--pagination-background-unselected: var(--semantic-background-transparent);
	--pagination-border-selected: var(--semantic-border-active);
	--pagination-border-unselected: var(--semantic-border-primary);
	--pagination-text-selected: var(--semantic-text-inverse);
	--pagination-text-unselected: var(--semantic-text-primary);
	--radio-background-selected: var(--semantic-background-active);
	--radio-background-unselected: var(--semantic-background-primary);
	--radio-border-selected: var(--semantic-border-active);
	--radio-border-unselected: var(--semantic-border-primary);
	--radio-icon-selected: var(--semantic-icon-force-light);
	--segmented-control-segment-background-selected: var(--semantic-background-active);
	--segmented-control-segment-background-unselected: var(--semantic-background-transparent);
	--segmented-control-segment-border-selected: var(--semantic-border-active);
	--segmented-control-segment-border-unselected: var(--semantic-border-secondary);
	--segmented-control-segment-icon-selected: var(--semantic-icon-force-light);
	--segmented-control-segment-icon-unselected: var(--semantic-icon-primary);
	--segmented-control-segment-text-selected: var(--semantic-text-force-light);
	--segmented-control-segment-text-unselected: var(--semantic-text-primary);
	--segmented-control-track-background: var(--semantic-background-tertiary);
	--segmented-control-track-border: var(--semantic-border-primary);
	--select-background: var(--semantic-background-primary);
	--select-border: var(--semantic-border-primary);
	--semantic-background-active: rgb(var(--color-indigo-9));
	--semantic-background-backdrop: rgb(var(--color-slate-alpha-56));
	--semantic-background-brand: rgb(var(--color-iris-9));
	--semantic-background-brand-subtle: rgb(var(--color-iris-3));
	--semantic-background-caution: rgb(var(--color-orange-9));
	--semantic-background-discovery: rgb(var(--color-plum-9));
	--semantic-background-force-dark: rgb(var(--color-slate-force-dark));
	--semantic-background-force-light: rgb(var(--color-slate-force-light));
	--semantic-background-hover: rgb(var(--color-slate-alpha-8));
	--semantic-background-info: rgb(var(--color-indigo-9));
	--semantic-background-inverse: rgb(var(--color-slate-12));
	--semantic-background-negative: rgb(var(--color-red-9));
	--semantic-background-positive: rgb(var(--color-green-9));
	--semantic-background-primary: rgb(var(--color-slate-1));
	--semantic-background-secondary: rgb(var(--color-slate-2));
	--semantic-background-tertiary: rgb(var(--color-slate-3));
	--semantic-background-transparent: rgb(var(--color-slate-alpha-0));
	--semantic-border-active: rgb(var(--color-indigo-9));
	--semantic-border-brand: rgb(var(--color-iris-9));
	--semantic-border-brand-subtle: rgb(var(--color-iris-3));
	--semantic-border-caution: rgb(var(--color-orange-9));
	--semantic-border-discovery: rgb(var(--color-plum-9));
	--semantic-border-force-dark: rgb(var(--color-slate-force-dark));
	--semantic-border-force-light: rgb(var(--color-slate-force-light));
	--semantic-border-info: rgb(var(--color-indigo-9));
	--semantic-border-inverse: rgb(var(--color-slate-12));
	--semantic-border-negative: rgb(var(--color-red-9));
	--semantic-border-positive: rgb(var(--color-green-9));
	--semantic-border-primary: rgb(var(--color-slate-7));
	--semantic-border-secondary: rgb(var(--color-slate-6));
	--semantic-icon-active: rgb(var(--color-indigo-9));
	--semantic-icon-brand: rgb(var(--color-iris-9));
	--semantic-icon-caution: rgb(var(--color-orange-9));
	--semantic-icon-discovery: rgb(var(--color-plum-9));
	--semantic-icon-force-dark: rgb(var(--color-slate-force-dark));
	--semantic-icon-force-light: rgb(var(--color-slate-force-light));
	--semantic-icon-info: rgb(var(--color-indigo-9));
	--semantic-icon-inverse: rgb(var(--color-slate-1));
	--semantic-icon-negative: rgb(var(--color-red-9));
	--semantic-icon-positive: rgb(var(--color-green-9));
	--semantic-icon-primary: rgb(var(--color-slate-12));
	--semantic-icon-secondary: rgb(var(--color-slate-11));
	--semantic-text-active: rgb(var(--color-indigo-9));
	--semantic-text-brand: rgb(var(--color-iris-9));
	--semantic-text-caution: rgb(var(--color-orange-9));
	--semantic-text-discovery: rgb(var(--color-plum-9));
	--semantic-text-force-dark: rgb(var(--color-slate-force-dark));
	--semantic-text-force-light: rgb(var(--color-slate-force-light));
	--semantic-text-info: rgb(var(--color-indigo-9));
	--semantic-text-inverse: rgb(var(--color-slate-1));
	--semantic-text-link: rgb(var(--color-indigo-9));
	--semantic-text-negative: rgb(var(--color-red-9));
	--semantic-text-positive: rgb(var(--color-green-9));
	--semantic-text-primary: rgb(var(--color-slate-12));
	--semantic-text-secondary: rgb(var(--color-slate-11));
	--separator-border: var(--semantic-border-secondary);
	--snackbar-caution-background: var(--semantic-background-caution);
	--snackbar-caution-border: var(--semantic-border-caution);
	--snackbar-caution-icon: var(--semantic-icon-force-light);
	--snackbar-caution-text: var(--semantic-text-force-light);
	--snackbar-discovery-background: var(--semantic-background-discovery);
	--snackbar-discovery-border: var(--semantic-border-discovery);
	--snackbar-discovery-icon: var(--semantic-background-force-light);
	--snackbar-discovery-text: var(--semantic-background-force-light);
	--snackbar-info-background: var(--semantic-background-info);
	--snackbar-info-border: var(--semantic-border-info);
	--snackbar-info-icon: var(--semantic-icon-force-light);
	--snackbar-info-text: var(--semantic-text-force-light);
	--snackbar-negative-background: var(--semantic-background-negative);
	--snackbar-negative-border: var(--semantic-background-negative);
	--snackbar-negative-icon: var(--semantic-icon-force-light);
	--snackbar-negative-text: var(--semantic-text-force-light);
	--snackbar-neutral-background: var(--semantic-background-tertiary);
	--snackbar-neutral-border: var(--semantic-border-secondary);
	--snackbar-neutral-icon: var(--semantic-icon-primary);
	--snackbar-neutral-text: var(--semantic-text-primary);
	--snackbar-positive-background: var(--semantic-background-positive);
	--snackbar-positive-border: var(--semantic-background-positive);
	--snackbar-positive-icon: var(--semantic-icon-force-light);
	--snackbar-positive-text: var(--semantic-text-force-light);
	--switch-background-selected: var(--semantic-background-active);
	--switch-background-unselected: var(--semantic-background-tertiary);
	--switch-border-selected: var(--semantic-border-active);
	--switch-border-unselected: var(--semantic-border-primary);
	--switch-icon-selected: var(--semantic-icon-force-light);
	--switch-icon-unselected: var(--semantic-icon-secondary);
	--tab-list-tab-background-selected: var(--semantic-background-transparent);
	--tab-list-tab-background-unselected: var(--semantic-background-transparent);
	--tab-list-tab-border-selected: var(--semantic-border-active);
	--tab-list-tab-border-unselected: var(--semantic-border-primary);
	--tab-list-tab-icon-selected: var(--semantic-icon-active);
	--tab-list-tab-icon-unselected: var(--semantic-icon-primary);
	--tab-list-tab-text-selected: var(--semantic-text-active);
	--tab-list-tab-text-unselected: var(--semantic-text-primary);
	--tab-list-track-border: var(--semantic-border-primary);
	--tag-caution-background: var(--semantic-background-caution);
	--tag-caution-border: var(--semantic-border-caution);
	--tag-caution-icon: var(--semantic-icon-force-light);
	--tag-caution-text: var(--semantic-text-force-light);
	--tag-discovery-background: var(--semantic-background-discovery);
	--tag-discovery-border: var(--semantic-border-discovery);
	--tag-discovery-icon: var(--semantic-icon-force-light);
	--tag-discovery-text: var(--semantic-text-force-light);
	--tag-info-background: var(--semantic-background-info);
	--tag-info-border: var(--semantic-border-info);
	--tag-info-icon: var(--semantic-icon-force-light);
	--tag-info-text: var(--semantic-text-force-light);
	--tag-negative-background: var(--semantic-background-negative);
	--tag-negative-border: var(--semantic-border-negative);
	--tag-negative-icon: var(--semantic-icon-force-light);
	--tag-negative-text: var(--semantic-text-force-light);
	--tag-neutral-background: var(--semantic-background-tertiary);
	--tag-neutral-border: var(--semantic-border-primary);
	--tag-neutral-icon: var(--semantic-icon-primary);
	--tag-neutral-text: var(--semantic-text-primary);
	--tag-positive-background: var(--semantic-background-positive);
	--tag-positive-border: var(--semantic-border-positive);
	--tag-positive-icon: var(--semantic-icon-force-light);
	--tag-positive-text: var(--semantic-text-force-light);
	--textarea-background: var(--semantic-background-primary);
	--textarea-border: var(--semantic-border-primary);
	--tooltip-background: var(--semantic-background-inverse);
	--tooltip-pointer: var(--semantic-icon-primary);
	--tooltip-text: var(--semantic-text-inverse);
}
